
- if user_signed_in?
  - if current_user==(post.user) 
    .item-button-container__left__dislike
      =link_to likes_path(current_user), method: "DELETE", remote: true do
        %i.fas.fa-heart
        %span いいね！
        %span 
        = post.likes_count
  - else
    .item-button-container__left__like
      =link_to likes_path(current_user), method: "POST", remote: true do
        %i.fas.fa-heart
        %span いいね！
        %span
        = post.likes_count
-else
  .item-button-container__left__like
    %i.fas.fa-heart
      %span いいね！
      %span 
      = post.likes_count