.wrapper
  .header
    %input.search_field{name: "category",placeholder: "検索する", :type => "email", :value => ""}/
    %span.name
      mofstagram
  .body
    .posts
      .post
        .image_box
          - @posts.each do |post|
            .post_image
              = image_tag post.images.first.src.url
            .name
              = post.name.to_s
        .category
        .user_name
    .new-post-button
      = link_to "投稿する",new_post_path
  .footer