.wrapper
  .header
    %input.search_field{name: "category",placeholder: "検索する", :type => "email", :value => ""}/
  .body
    .posts
      .post
        .image_box
        
        .category
        .user_name
  .footer