.wrapper{
  height: 1000px;
  width: 100%;
}
.header{
  width: 100%;
  background-color: red;
}
.body{
  height: calc(100% - 10%);
  background-color: blue;
}
.form{
  background-color: red;
  display: contents;
}