.wrapper{
  height: 1000px;
  width: 100%;
  background-color: cornsilk;
}
.header{
  width: 100%;
  height: 5%;
  background-color: red;
}
.body{
  height: calc(100% - 30%);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgrey;
}
.form{
  &__image{
    height: 40%;
    background-color:black;
  }
}