.wrapper{
  height: 1500px;
  width: 100%;
  background-color: cornsilk;
}
.header{
  width: 100%;
  height: 2%;
  display: flex;
  margin-bottom: 20px;
}
.body{
  height: calc(100% - 30%);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgrey;
}
.form{
  &__image{
    height: 200px;
    background-color: white;
  }
  &__name{
    height: 100px;
  }
}